
header{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}

h1{
    background-color:#4aaaa5;
    color:#ffffff;
    font-family:'Georgia', Times, Times New Roman, serif;
    padding:25px 25px 25px 25px;
    margin:auto;
    float:left;
}


ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
 
}
li{
    float:left;
    border-right:1px solid #777;
}
li a{
    display:flex;
    flex-flow: row wrap;
    color:#777;
    background-color:#ffffff;
    height:25px;
    width:auto;
    margin:3px;
}
li:last-child{
    border-right:none;
}
.active{
    background-color:#4aaaa5;
    color:#ffffff;
}

.container{
    float:left;
    color:#777777;
    background-color:#ffffff;
    border-color:#dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
.footer{
    background-color:#666666;
    margin:auto;
    padding:25px 25px 25px 25px;
    text-align:center;
    color:#cccccc;
}
