html{
    height:100%;
}
body{
    min-height:100%;
    display:grid;
    grid-template-rows: 1fr auto;
}
.footer{
    grid-row-start:2;
    grid-row-end:3;
    background-color:#666666;
}
.wrapper{
    background-color:#ffffff;
    color:#777777;
    border-color:#dddddd;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*.grid-container{
   display:grid;
   grid-column-gap:20px;
   grid-row-gap:20px;
   grid-template-columns:auto auto auto;
   grid-template-rows:auto auto auto;
} 
.item1{
   grid-column-start:1;
   grid-column-end:2;
   grid-row-start:1;
   grid-row-end:2;
}
.item2{
   grid-column-start:2;
   grid-column-end:3;
   grid-row-start:1;
   grid-row-end:2;
}
.item3{
   grid-column-start:1;
   grid-column-end:2;
   grid-row-start:2;
   grid-row-end:3;
}
.item4{
   grid-column-start:2;
   grid-column-end:3;
   grid-row-start:2;
   grid-row-end:3;
}
.item5{
   grid-column-start:1;
   grid-column-end:2;
   grid-row-start:3;
   grid-row-end:3;
}
*/